@import 'https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,400i,700';

* {
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}
@media (min-width: 38em) {
  html {
    font-size: 1.25em;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
@media (min-width: 48em) {
  body {
    flex-direction: row;
  }
}
